@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 39.9375em) {
  .flex-switch-small {
    flex: 12%;
  }
}

@media (min-width: 39.9375em) {
  .item {
    flex: 50%;
  }
}

@media (min-width: 64em) {
  .item {
    flex: 33%;
  }
}

@media (min-width: 87.5em) {
  .item {
    flex: 0 0.25 25%;
  }
}

@media (max-width: 87.4375em) {
  .header-links > a {
    flex: 25%;
  }
}

@media (max-width: 39.9375em) {
  .hide-on-small {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-on-medium {
    display: none;
  }
}

header {
  background-color: #c0c0c0;
  font-family: "Roboto";
  color: #444444;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 3rem;
}

header .header-search input {
  height: 2rem;
  text-align: center;
  border-radius: .5rem;
  margin-left: 3rem;
  border: none;
  outline: none;
  transition: all 150ms ease-in-out;
}

header .header-search input:focus {
  box-shadow: 2px 2px 1px 1px black;
}

header .header-search button {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: .75rem;
  cursor: pointer;
  border: none;
}

header .account-button, header .sidebar-button {
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem;
  color: #e4e4e4;
  border-radius: 0.375rem;
  border: none;
  background-color: #3D4C53;
  transition: all 200ms ease-in-out;
}

header .account-button:hover, header .account-button:active, header .account-button:target, header .account-button:focus, header .sidebar-button:hover, header .sidebar-button:active, header .sidebar-button:target, header .sidebar-button:focus {
  background-color: #e4e4e4;
  color: #444444;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease-in-out;
}

header a:hover, header a:target, header a:focus, header a:active {
  color: #111111;
}

header .mobile-header-section {
  display: flex;
  justify-content: space-around;
}

header .header-links {
  background-color: #8d8d8d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

header .header-links a {
  margin: 1rem .5rem;
  font-size: 1.5rem;
}

main .island {
  margin: 2.5rem;
  border-radius: 1rem;
  background-color: #c0c0c0;
}

main .island h1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

main .island .island-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .island .island-items a {
  text-decoration: none;
  color: #444444;
}

main .island .island-items .item {
  transform: scale(0.95);
  background-color: #878787;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

main .island .island-items .item:hover {
  background-color: #a1a1a1;
}

main .island .island-items .item .item-img {
  transform: scale(0.9);
  height: 16rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

main .island .island-items .item .item-header {
  margin-top: 1rem;
  font-size: 1.5rem;
}

main .island .island-items .item .item-genres {
  transform: scale(0.85);
}

main .island .island-items .item .item-genres .item-genres-list {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .island .island-items .item .item-genres .item-genres-list p {
  margin: 0.25rem 1rem;
  padding: .5rem .5rem;
  display: inline;
  border-radius: 1.5rem;
  font-size: 2rem;
  color: #e4e4e4;
  background-color: #3D4C53;
}

main .island .island-items .item .item-genres .item-genres-list p a {
  color: inherit;
}

main .island .island-items .item .item-date {
  margin-top: 1rem;
  font-size: 2rem;
}

footer {
  text-align: center;
}

footer .footer-div {
  padding: 3rem 0rem;
  background-color: #444444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .footer-div .footer-links {
  display: flex;
  flex-direction: column;
}

footer .footer-div .footer-links a {
  font-size: 2rem;
  text-decoration: none;
  color: #e4e4e4;
}

footer .footer-div .footer-logo {
  color: #e4e4e4;
  font-size: 2.625rem;
}
/*# sourceMappingURL=styles.css.map */