footer {
    text-align: center;

    .footer-div {
        padding: 3rem 0rem;
        background-color: $greyed;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .footer-links {
            display: flex;
            flex-direction: column;

            a {
                font-size: 2rem;
                text-decoration: none;
                color: $plain-white;
            }
        }

        .footer-logo {
            color: $plain-white;
            font-size: 2.625rem;
        }
    }
}